=begin
#Scubawhere API Documentation

#This is the documentation for scubawhere's RMS API. This API is only to be used by authorized parties with valid auth tokens.  [Learn about scubawhere](http://www.scubawhere.com) to become an authorized consumer of our API 

OpenAPI spec version: 1.0.0
Contact: bryan@scubawhere.com
Generated by: https://github.com/swagger-api/swagger-codegen.git

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

=end

require "uri"

module SwaggerClient
  class ClassApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Retrieve a class by ID
    # 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Training]
    def class_get(id, opts = {})
      data, _status_code, _headers = class_get_with_http_info(id, opts)
      return data
    end

    # Retrieve a class by ID
    # 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Training, Fixnum, Hash)>] Training data, response status code and response headers
    def class_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ClassApi.class_get ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling ClassApi.class_get" if id.nil?
      # resource path
      local_var_path = "/class".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'id'] = id

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Training')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClassApi#class_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new class
    # 
    # @param name 
    # @param duration 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :description 
    # @return [InlineResponse20021]
    def create_class(name, duration, opts = {})
      data, _status_code, _headers = create_class_with_http_info(name, duration, opts)
      return data
    end

    # Create a new class
    # 
    # @param name 
    # @param duration 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :description 
    # @return [Array<(InlineResponse20021, Fixnum, Hash)>] InlineResponse20021 data, response status code and response headers
    def create_class_with_http_info(name, duration, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ClassApi.create_class ..."
      end
      # verify the required parameter 'name' is set
      fail ArgumentError, "Missing the required parameter 'name' when calling ClassApi.create_class" if name.nil?
      # verify the required parameter 'duration' is set
      fail ArgumentError, "Missing the required parameter 'duration' when calling ClassApi.create_class" if duration.nil?
      # resource path
      local_var_path = "/class/add".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'name'] = name
      query_params[:'duration'] = duration
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse20021')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClassApi#create_class\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a class by ID
    # 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse2003]
    def delete_class(id, opts = {})
      data, _status_code, _headers = delete_class_with_http_info(id, opts)
      return data
    end

    # Delete a class by ID
    # 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse2003, Fixnum, Hash)>] InlineResponse2003 data, response status code and response headers
    def delete_class_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ClassApi.delete_class ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling ClassApi.delete_class" if id.nil?
      # resource path
      local_var_path = "/class/delete".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'id'] = id

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse2003')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClassApi#delete_class\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a class by ID
    # 
    # @param id 
    # @param name 
    # @param duration 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :description 
    # @return [InlineResponse20022]
    def edit_class(id, name, duration, opts = {})
      data, _status_code, _headers = edit_class_with_http_info(id, name, duration, opts)
      return data
    end

    # Update a class by ID
    # 
    # @param id 
    # @param name 
    # @param duration 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :description 
    # @return [Array<(InlineResponse20022, Fixnum, Hash)>] InlineResponse20022 data, response status code and response headers
    def edit_class_with_http_info(id, name, duration, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ClassApi.edit_class ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling ClassApi.edit_class" if id.nil?
      # verify the required parameter 'name' is set
      fail ArgumentError, "Missing the required parameter 'name' when calling ClassApi.edit_class" if name.nil?
      # verify the required parameter 'duration' is set
      fail ArgumentError, "Missing the required parameter 'duration' when calling ClassApi.edit_class" if duration.nil?
      # resource path
      local_var_path = "/class/edit".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'id'] = id
      query_params[:'name'] = name
      query_params[:'duration'] = duration
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse20022')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClassApi#edit_class\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve all classes including any deleted models
    # 
    # @param [Hash] opts the optional parameters
    # @return [Array<Training>]
    def get_all_class(opts = {})
      data, _status_code, _headers = get_all_class_with_http_info(opts)
      return data
    end

    # Retrieve all classes including any deleted models
    # 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Training>, Fixnum, Hash)>] Array<Training> data, response status code and response headers
    def get_all_class_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ClassApi.get_all_class ..."
      end
      # resource path
      local_var_path = "/class/all".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<Training>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClassApi#get_all_class\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve all classes including any deleted models
    # 
    # @param [Hash] opts the optional parameters
    # @return [Array<Training>]
    def get_all_with_trashed_class(opts = {})
      data, _status_code, _headers = get_all_with_trashed_class_with_http_info(opts)
      return data
    end

    # Retrieve all classes including any deleted models
    # 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Training>, Fixnum, Hash)>] Array<Training> data, response status code and response headers
    def get_all_with_trashed_class_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ClassApi.get_all_with_trashed_class ..."
      end
      # resource path
      local_var_path = "/class/all-with-trashed".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<Training>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClassApi#get_all_with_trashed_class\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
