=begin
#Scubawhere API Documentation

#This is the documentation for scubawhere's RMS API. This API is only to be used by authorized parties with valid auth tokens.  [Learn about scubawhere](http://www.scubawhere.com) to become an authorized consumer of our API 

OpenAPI spec version: 1.0.0
Contact: bryan@scubawhere.com
Generated by: https://github.com/swagger-api/swagger-codegen.git

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

=end

require "uri"

module SwaggerClient
  class CustomerApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Create a new customer
    # 
    # @param email 
    # @param firstname 
    # @param lastname 
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :birthday 
    # @option opts [Integer] :gender 
    # @option opts [String] :address_1 
    # @option opts [String] :address_2 
    # @option opts [String] :city 
    # @option opts [String] :county 
    # @option opts [String] :postcode 
    # @option opts [Integer] :country_id 
    # @option opts [String] :phone 
    # @option opts [Date] :last_dive 
    # @option opts [Integer] :number_of_dives 
    # @option opts [String] :chest_size 
    # @option opts [String] :show_size 
    # @option opts [String] :height 
    # @option opts [Array<Integer>] :certificates 
    # @return [InlineResponse20029]
    def create_customer(email, firstname, lastname, opts = {})
      data, _status_code, _headers = create_customer_with_http_info(email, firstname, lastname, opts)
      return data
    end

    # Create a new customer
    # 
    # @param email 
    # @param firstname 
    # @param lastname 
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :birthday 
    # @option opts [Integer] :gender 
    # @option opts [String] :address_1 
    # @option opts [String] :address_2 
    # @option opts [String] :city 
    # @option opts [String] :county 
    # @option opts [String] :postcode 
    # @option opts [Integer] :country_id 
    # @option opts [String] :phone 
    # @option opts [Date] :last_dive 
    # @option opts [Integer] :number_of_dives 
    # @option opts [String] :chest_size 
    # @option opts [String] :show_size 
    # @option opts [String] :height 
    # @option opts [Array<Integer>] :certificates 
    # @return [Array<(InlineResponse20029, Fixnum, Hash)>] InlineResponse20029 data, response status code and response headers
    def create_customer_with_http_info(email, firstname, lastname, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CustomerApi.create_customer ..."
      end
      # verify the required parameter 'email' is set
      fail ArgumentError, "Missing the required parameter 'email' when calling CustomerApi.create_customer" if email.nil?
      # verify the required parameter 'firstname' is set
      fail ArgumentError, "Missing the required parameter 'firstname' when calling CustomerApi.create_customer" if firstname.nil?
      # verify the required parameter 'lastname' is set
      fail ArgumentError, "Missing the required parameter 'lastname' when calling CustomerApi.create_customer" if lastname.nil?
      # resource path
      local_var_path = "/customer/add".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'email'] = email
      query_params[:'firstname'] = firstname
      query_params[:'lastname'] = lastname
      query_params[:'birthday'] = opts[:'birthday'] if !opts[:'birthday'].nil?
      query_params[:'gender'] = opts[:'gender'] if !opts[:'gender'].nil?
      query_params[:'address_1'] = opts[:'address_1'] if !opts[:'address_1'].nil?
      query_params[:'address_2'] = opts[:'address_2'] if !opts[:'address_2'].nil?
      query_params[:'city'] = opts[:'city'] if !opts[:'city'].nil?
      query_params[:'county'] = opts[:'county'] if !opts[:'county'].nil?
      query_params[:'postcode'] = opts[:'postcode'] if !opts[:'postcode'].nil?
      query_params[:'country_id'] = opts[:'country_id'] if !opts[:'country_id'].nil?
      query_params[:'phone'] = opts[:'phone'] if !opts[:'phone'].nil?
      query_params[:'last_dive'] = opts[:'last_dive'] if !opts[:'last_dive'].nil?
      query_params[:'number_of_dives'] = opts[:'number_of_dives'] if !opts[:'number_of_dives'].nil?
      query_params[:'chest_size'] = opts[:'chest_size'] if !opts[:'chest_size'].nil?
      query_params[:'show_size'] = opts[:'show_size'] if !opts[:'show_size'].nil?
      query_params[:'height'] = opts[:'height'] if !opts[:'height'].nil?
      query_params[:'certificates'] = @api_client.build_collection_param(opts[:'certificates'], :multi) if !opts[:'certificates'].nil?

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse20029')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerApi#create_customer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a customer by ID
    # 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse2003]
    def delete_customer(id, opts = {})
      data, _status_code, _headers = delete_customer_with_http_info(id, opts)
      return data
    end

    # Delete a customer by ID
    # 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse2003, Fixnum, Hash)>] InlineResponse2003 data, response status code and response headers
    def delete_customer_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CustomerApi.delete_customer ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling CustomerApi.delete_customer" if id.nil?
      # resource path
      local_var_path = "/customer/delete".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'id'] = id

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse2003')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerApi#delete_customer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a customer by ID
    # 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :email 
    # @option opts [String] :firstname 
    # @option opts [String] :lastname 
    # @option opts [Date] :birthday 
    # @option opts [Integer] :gender 
    # @option opts [String] :address_1 
    # @option opts [String] :address_2 
    # @option opts [String] :city 
    # @option opts [String] :county 
    # @option opts [String] :postcode 
    # @option opts [Integer] :country_id 
    # @option opts [String] :phone 
    # @option opts [Date] :last_dive 
    # @option opts [Integer] :number_of_dives 
    # @option opts [String] :chest_size 
    # @option opts [String] :show_size 
    # @option opts [String] :height 
    # @option opts [Array<Integer>] :certificates 
    # @return [InlineResponse20030]
    def edit_customer(id, opts = {})
      data, _status_code, _headers = edit_customer_with_http_info(id, opts)
      return data
    end

    # Update a customer by ID
    # 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :email 
    # @option opts [String] :firstname 
    # @option opts [String] :lastname 
    # @option opts [Date] :birthday 
    # @option opts [Integer] :gender 
    # @option opts [String] :address_1 
    # @option opts [String] :address_2 
    # @option opts [String] :city 
    # @option opts [String] :county 
    # @option opts [String] :postcode 
    # @option opts [Integer] :country_id 
    # @option opts [String] :phone 
    # @option opts [Date] :last_dive 
    # @option opts [Integer] :number_of_dives 
    # @option opts [String] :chest_size 
    # @option opts [String] :show_size 
    # @option opts [String] :height 
    # @option opts [Array<Integer>] :certificates 
    # @return [Array<(InlineResponse20030, Fixnum, Hash)>] InlineResponse20030 data, response status code and response headers
    def edit_customer_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CustomerApi.edit_customer ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling CustomerApi.edit_customer" if id.nil?
      # resource path
      local_var_path = "/customer/edit".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'id'] = id
      query_params[:'email'] = opts[:'email'] if !opts[:'email'].nil?
      query_params[:'firstname'] = opts[:'firstname'] if !opts[:'firstname'].nil?
      query_params[:'lastname'] = opts[:'lastname'] if !opts[:'lastname'].nil?
      query_params[:'birthday'] = opts[:'birthday'] if !opts[:'birthday'].nil?
      query_params[:'gender'] = opts[:'gender'] if !opts[:'gender'].nil?
      query_params[:'address_1'] = opts[:'address_1'] if !opts[:'address_1'].nil?
      query_params[:'address_2'] = opts[:'address_2'] if !opts[:'address_2'].nil?
      query_params[:'city'] = opts[:'city'] if !opts[:'city'].nil?
      query_params[:'county'] = opts[:'county'] if !opts[:'county'].nil?
      query_params[:'postcode'] = opts[:'postcode'] if !opts[:'postcode'].nil?
      query_params[:'country_id'] = opts[:'country_id'] if !opts[:'country_id'].nil?
      query_params[:'phone'] = opts[:'phone'] if !opts[:'phone'].nil?
      query_params[:'last_dive'] = opts[:'last_dive'] if !opts[:'last_dive'].nil?
      query_params[:'number_of_dives'] = opts[:'number_of_dives'] if !opts[:'number_of_dives'].nil?
      query_params[:'chest_size'] = opts[:'chest_size'] if !opts[:'chest_size'].nil?
      query_params[:'show_size'] = opts[:'show_size'] if !opts[:'show_size'].nil?
      query_params[:'height'] = opts[:'height'] if !opts[:'height'].nil?
      query_params[:'certificates'] = @api_client.build_collection_param(opts[:'certificates'], :multi) if !opts[:'certificates'].nil?

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse20030')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerApi#edit_customer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve all customers
    # 
    # @param [Hash] opts the optional parameters
    # @return [Array<Customer>]
    def get_all_customers(opts = {})
      data, _status_code, _headers = get_all_customers_with_http_info(opts)
      return data
    end

    # Retrieve all customers
    # 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Customer>, Fixnum, Hash)>] Array<Customer> data, response status code and response headers
    def get_all_customers_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CustomerApi.get_all_customers ..."
      end
      # resource path
      local_var_path = "/customer/all".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<Customer>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerApi#get_all_customers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a customer by ID
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :id 
    # @return [InlineResponse20029]
    def get_customer(opts = {})
      data, _status_code, _headers = get_customer_with_http_info(opts)
      return data
    end

    # Retrieve a customer by ID
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :id 
    # @return [Array<(InlineResponse20029, Fixnum, Hash)>] InlineResponse20029 data, response status code and response headers
    def get_customer_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CustomerApi.get_customer ..."
      end
      # resource path
      local_var_path = "/customer".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse20029')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerApi#get_customer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
