=begin
#Scubawhere API Documentation

#This is the documentation for scubawhere's RMS API. This API is only to be used by authorized parties with valid auth tokens.  [Learn about scubawhere](http://www.scubawhere.com) to become an authorized consumer of our API 

OpenAPI spec version: 1.0.0
Contact: bryan@scubawhere.com
Generated by: https://github.com/swagger-api/swagger-codegen.git

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

=end

require "uri"

module SwaggerClient
  class PackageApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Create a new package
    # 
    # @param name 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :description 
    # @option opts [Date] :available_from 
    # @option opts [Date] :available_until 
    # @option opts [Array<Integer>] :tickets 
    # @option opts [Array<Integer>] :courses 
    # @option opts [Array<Integer>] :accommodations 
    # @option opts [Array<Integer>] :addons 
    # @option opts [Array<Integer>] :prices 
    # @return [InlineResponse20032]
    def create_package(name, opts = {})
      data, _status_code, _headers = create_package_with_http_info(name, opts)
      return data
    end

    # Create a new package
    # 
    # @param name 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :description 
    # @option opts [Date] :available_from 
    # @option opts [Date] :available_until 
    # @option opts [Array<Integer>] :tickets 
    # @option opts [Array<Integer>] :courses 
    # @option opts [Array<Integer>] :accommodations 
    # @option opts [Array<Integer>] :addons 
    # @option opts [Array<Integer>] :prices 
    # @return [Array<(InlineResponse20032, Fixnum, Hash)>] InlineResponse20032 data, response status code and response headers
    def create_package_with_http_info(name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: PackageApi.create_package ..."
      end
      # verify the required parameter 'name' is set
      fail ArgumentError, "Missing the required parameter 'name' when calling PackageApi.create_package" if name.nil?
      # resource path
      local_var_path = "/package/add".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'name'] = name
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?
      query_params[:'available_from'] = opts[:'available_from'] if !opts[:'available_from'].nil?
      query_params[:'available_until'] = opts[:'available_until'] if !opts[:'available_until'].nil?
      query_params[:'tickets'] = @api_client.build_collection_param(opts[:'tickets'], :multi) if !opts[:'tickets'].nil?
      query_params[:'courses'] = @api_client.build_collection_param(opts[:'courses'], :multi) if !opts[:'courses'].nil?
      query_params[:'accommodations'] = @api_client.build_collection_param(opts[:'accommodations'], :multi) if !opts[:'accommodations'].nil?
      query_params[:'addons'] = @api_client.build_collection_param(opts[:'addons'], :multi) if !opts[:'addons'].nil?
      query_params[:'prices'] = @api_client.build_collection_param(opts[:'prices'], :multi) if !opts[:'prices'].nil?

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse20032')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackageApi#create_package\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a package by ID
    # 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse2003]
    def delete_package(id, opts = {})
      data, _status_code, _headers = delete_package_with_http_info(id, opts)
      return data
    end

    # Delete a package by ID
    # 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse2003, Fixnum, Hash)>] InlineResponse2003 data, response status code and response headers
    def delete_package_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: PackageApi.delete_package ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling PackageApi.delete_package" if id.nil?
      # resource path
      local_var_path = "/package/delete".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'id'] = id

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse2003')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackageApi#delete_package\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a package by ID
    # 
    # @param id 
    # @param name 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :description 
    # @option opts [Date] :available_from 
    # @option opts [Date] :available_until 
    # @option opts [Array<Integer>] :tickets 
    # @option opts [Array<Integer>] :courses 
    # @option opts [Array<Integer>] :accommodations 
    # @option opts [Array<Integer>] :addons 
    # @option opts [Array<Integer>] :prices 
    # @return [InlineResponse20033]
    def edit_package(id, name, opts = {})
      data, _status_code, _headers = edit_package_with_http_info(id, name, opts)
      return data
    end

    # Update a package by ID
    # 
    # @param id 
    # @param name 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :description 
    # @option opts [Date] :available_from 
    # @option opts [Date] :available_until 
    # @option opts [Array<Integer>] :tickets 
    # @option opts [Array<Integer>] :courses 
    # @option opts [Array<Integer>] :accommodations 
    # @option opts [Array<Integer>] :addons 
    # @option opts [Array<Integer>] :prices 
    # @return [Array<(InlineResponse20033, Fixnum, Hash)>] InlineResponse20033 data, response status code and response headers
    def edit_package_with_http_info(id, name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: PackageApi.edit_package ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling PackageApi.edit_package" if id.nil?
      # verify the required parameter 'name' is set
      fail ArgumentError, "Missing the required parameter 'name' when calling PackageApi.edit_package" if name.nil?
      # resource path
      local_var_path = "/package/edit".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'id'] = id
      query_params[:'name'] = name
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?
      query_params[:'available_from'] = opts[:'available_from'] if !opts[:'available_from'].nil?
      query_params[:'available_until'] = opts[:'available_until'] if !opts[:'available_until'].nil?
      query_params[:'tickets'] = @api_client.build_collection_param(opts[:'tickets'], :multi) if !opts[:'tickets'].nil?
      query_params[:'courses'] = @api_client.build_collection_param(opts[:'courses'], :multi) if !opts[:'courses'].nil?
      query_params[:'accommodations'] = @api_client.build_collection_param(opts[:'accommodations'], :multi) if !opts[:'accommodations'].nil?
      query_params[:'addons'] = @api_client.build_collection_param(opts[:'addons'], :multi) if !opts[:'addons'].nil?
      query_params[:'prices'] = @api_client.build_collection_param(opts[:'prices'], :multi) if !opts[:'prices'].nil?

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse20033')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackageApi#edit_package\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve all packages including any deleted models
    # 
    # @param [Hash] opts the optional parameters
    # @return [Array<Package>]
    def get_all_packages(opts = {})
      data, _status_code, _headers = get_all_packages_with_http_info(opts)
      return data
    end

    # Retrieve all packages including any deleted models
    # 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Package>, Fixnum, Hash)>] Array<Package> data, response status code and response headers
    def get_all_packages_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: PackageApi.get_all_packages ..."
      end
      # resource path
      local_var_path = "/package/all".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<Package>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackageApi#get_all_packages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve all packages including any deleted models
    # 
    # @param [Hash] opts the optional parameters
    # @return [Array<Package>]
    def get_all_with_trashed_packages(opts = {})
      data, _status_code, _headers = get_all_with_trashed_packages_with_http_info(opts)
      return data
    end

    # Retrieve all packages including any deleted models
    # 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Package>, Fixnum, Hash)>] Array<Package> data, response status code and response headers
    def get_all_with_trashed_packages_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: PackageApi.get_all_with_trashed_packages ..."
      end
      # resource path
      local_var_path = "/package/all-with-trashed".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<Package>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackageApi#get_all_with_trashed_packages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a package by ID
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :id 
    # @return [InlineResponse20032]
    def get_package(opts = {})
      data, _status_code, _headers = get_package_with_http_info(opts)
      return data
    end

    # Retrieve a package by ID
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :id 
    # @return [Array<(InlineResponse20032, Fixnum, Hash)>] InlineResponse20032 data, response status code and response headers
    def get_package_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: PackageApi.get_package ..."
      end
      # resource path
      local_var_path = "/package".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse20032')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackageApi#get_package\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
