=begin
#Scubawhere API Documentation

#This is the documentation for scubawhere's RMS API. This API is only to be used by authorized parties with valid auth tokens.  [Learn about scubawhere](http://www.scubawhere.com) to become an authorized consumer of our API 

OpenAPI spec version: 1.0.0
Contact: bryan@scubawhere.com
Generated by: https://github.com/swagger-api/swagger-codegen.git

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

=end

require "uri"

module SwaggerClient
  class RefundApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Create a new refund
    # 
    # @param booking_id 
    # @param paymentgateway_id 
    # @param amount 
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse2012]
    def add_refund(booking_id, paymentgateway_id, amount, opts = {})
      data, _status_code, _headers = add_refund_with_http_info(booking_id, paymentgateway_id, amount, opts)
      return data
    end

    # Create a new refund
    # 
    # @param booking_id 
    # @param paymentgateway_id 
    # @param amount 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse2012, Fixnum, Hash)>] InlineResponse2012 data, response status code and response headers
    def add_refund_with_http_info(booking_id, paymentgateway_id, amount, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: RefundApi.add_refund ..."
      end
      # verify the required parameter 'booking_id' is set
      fail ArgumentError, "Missing the required parameter 'booking_id' when calling RefundApi.add_refund" if booking_id.nil?
      # verify the required parameter 'paymentgateway_id' is set
      fail ArgumentError, "Missing the required parameter 'paymentgateway_id' when calling RefundApi.add_refund" if paymentgateway_id.nil?
      # verify the required parameter 'amount' is set
      fail ArgumentError, "Missing the required parameter 'amount' when calling RefundApi.add_refund" if amount.nil?
      # resource path
      local_var_path = "/refund/add".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'booking_id'] = booking_id
      query_params[:'paymentgateway_id'] = paymentgateway_id
      query_params[:'amount'] = amount

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse2012')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RefundApi#add_refund\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve all refunds that match a filter
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :after Date of the earliest payment
    # @option opts [Date] :before Date of the latest payment to be retrieved
    # @return [InlineResponse20039]
    def filter_refunds(opts = {})
      data, _status_code, _headers = filter_refunds_with_http_info(opts)
      return data
    end

    # Retrieve all refunds that match a filter
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :after Date of the earliest payment
    # @option opts [Date] :before Date of the latest payment to be retrieved
    # @return [Array<(InlineResponse20039, Fixnum, Hash)>] InlineResponse20039 data, response status code and response headers
    def filter_refunds_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: RefundApi.filter_refunds ..."
      end
      # resource path
      local_var_path = "/refund/filter".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?
      query_params[:'before'] = opts[:'before'] if !opts[:'before'].nil?

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse20039')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RefundApi#filter_refunds\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve all refunds made
    # 
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse20038]
    def get_all_refunds(opts = {})
      data, _status_code, _headers = get_all_refunds_with_http_info(opts)
      return data
    end

    # Retrieve all refunds made
    # 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse20038, Fixnum, Hash)>] InlineResponse20038 data, response status code and response headers
    def get_all_refunds_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: RefundApi.get_all_refunds ..."
      end
      # resource path
      local_var_path = "/refund/all".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse20038')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RefundApi#get_all_refunds\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a refund by ID
    # 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse20037]
    def get_refund(id, opts = {})
      data, _status_code, _headers = get_refund_with_http_info(id, opts)
      return data
    end

    # Retrieve a refund by ID
    # 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse20037, Fixnum, Hash)>] InlineResponse20037 data, response status code and response headers
    def get_refund_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: RefundApi.get_refund ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling RefundApi.get_refund" if id.nil?
      # resource path
      local_var_path = "/refund".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'id'] = id

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse20037')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RefundApi#get_refund\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
