=begin
#Scubawhere API Documentation

#This is the documentation for scubawhere's RMS API. This API is only to be used by authorized parties with valid auth tokens.  [Learn about scubawhere](http://www.scubawhere.com) to become an authorized consumer of our API 

OpenAPI spec version: 1.0.0
Contact: bryan@scubawhere.com
Generated by: https://github.com/swagger-api/swagger-codegen.git

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

=end

require "uri"

module SwaggerClient
  class TimetableApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Create a new timetable for sessions
    # 
    # @param schedule 
    # @param session_id 
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :_until 
    # @return [InlineResponse2015]
    def add_timetable(schedule, session_id, opts = {})
      data, _status_code, _headers = add_timetable_with_http_info(schedule, session_id, opts)
      return data
    end

    # Create a new timetable for sessions
    # 
    # @param schedule 
    # @param session_id 
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :_until 
    # @return [Array<(InlineResponse2015, Fixnum, Hash)>] InlineResponse2015 data, response status code and response headers
    def add_timetable_with_http_info(schedule, session_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TimetableApi.add_timetable ..."
      end
      # verify the required parameter 'schedule' is set
      fail ArgumentError, "Missing the required parameter 'schedule' when calling TimetableApi.add_timetable" if schedule.nil?
      # verify the required parameter 'session_id' is set
      fail ArgumentError, "Missing the required parameter 'session_id' when calling TimetableApi.add_timetable" if session_id.nil?
      # resource path
      local_var_path = "/timetable/add".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'schedule'] = schedule
      query_params[:'session_id'] = session_id
      query_params[:'until'] = opts[:'_until'] if !opts[:'_until'].nil?

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse2015')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimetableApi#add_timetable\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve all of the timetables for sessions
    # 
    # @param [Hash] opts the optional parameters
    # @return [Array<Timetable>]
    def get_all_timetables(opts = {})
      data, _status_code, _headers = get_all_timetables_with_http_info(opts)
      return data
    end

    # Retrieve all of the timetables for sessions
    # 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Timetable>, Fixnum, Hash)>] Array<Timetable> data, response status code and response headers
    def get_all_timetables_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TimetableApi.get_all_timetables ..."
      end
      # resource path
      local_var_path = "/timetable/all".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<Timetable>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimetableApi#get_all_timetables\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a timetable by ID
    # 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Timetable]
    def get_timetable(id, opts = {})
      data, _status_code, _headers = get_timetable_with_http_info(id, opts)
      return data
    end

    # Retrieve a timetable by ID
    # 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Timetable, Fixnum, Hash)>] Timetable data, response status code and response headers
    def get_timetable_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TimetableApi.get_timetable ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling TimetableApi.get_timetable" if id.nil?
      # resource path
      local_var_path = "/timetable".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'id'] = id

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Timetable')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimetableApi#get_timetable\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
