=begin
#Scubawhere API Documentation

#This is the documentation for scubawhere's RMS API. This API is only to be used by authorized parties with valid auth tokens.  [Learn about scubawhere](http://www.scubawhere.com) to become an authorized consumer of our API 

OpenAPI spec version: 1.0.0
Contact: bryan@scubawhere.com
Generated by: https://github.com/swagger-api/swagger-codegen.git

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

=end

require "uri"

module SwaggerClient
  class TripApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Create a new trip
    # 
    # @param name 
    # @param duration 
    # @param locations 
    # @param tags 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :description 
    # @option opts [BOOLEAN] :boat_required 
    # @return [InlineResponse20046]
    def create_trip(name, duration, locations, tags, opts = {})
      data, _status_code, _headers = create_trip_with_http_info(name, duration, locations, tags, opts)
      return data
    end

    # Create a new trip
    # 
    # @param name 
    # @param duration 
    # @param locations 
    # @param tags 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :description 
    # @option opts [BOOLEAN] :boat_required 
    # @return [Array<(InlineResponse20046, Fixnum, Hash)>] InlineResponse20046 data, response status code and response headers
    def create_trip_with_http_info(name, duration, locations, tags, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TripApi.create_trip ..."
      end
      # verify the required parameter 'name' is set
      fail ArgumentError, "Missing the required parameter 'name' when calling TripApi.create_trip" if name.nil?
      # verify the required parameter 'duration' is set
      fail ArgumentError, "Missing the required parameter 'duration' when calling TripApi.create_trip" if duration.nil?
      # verify the required parameter 'locations' is set
      fail ArgumentError, "Missing the required parameter 'locations' when calling TripApi.create_trip" if locations.nil?
      # verify the required parameter 'tags' is set
      fail ArgumentError, "Missing the required parameter 'tags' when calling TripApi.create_trip" if tags.nil?
      # resource path
      local_var_path = "/trip/add".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'name'] = name
      query_params[:'duration'] = duration
      query_params[:'locations'] = @api_client.build_collection_param(locations, :multi)
      query_params[:'tags'] = @api_client.build_collection_param(tags, :multi)
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?
      query_params[:'boat_required'] = opts[:'boat_required'] if !opts[:'boat_required'].nil?

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse20046')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TripApi#create_trip\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a trip by ID
    # 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse2003]
    def delete_trip(id, opts = {})
      data, _status_code, _headers = delete_trip_with_http_info(id, opts)
      return data
    end

    # Delete a trip by ID
    # 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse2003, Fixnum, Hash)>] InlineResponse2003 data, response status code and response headers
    def delete_trip_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TripApi.delete_trip ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling TripApi.delete_trip" if id.nil?
      # resource path
      local_var_path = "/trip/delete".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'id'] = id

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse2003')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TripApi#delete_trip\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a trip by ID
    # 
    # @param id 
    # @param name 
    # @param duration 
    # @param locations 
    # @param tags 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :description 
    # @option opts [BOOLEAN] :boat_required 
    # @return [InlineResponse20047]
    def edit_trip(id, name, duration, locations, tags, opts = {})
      data, _status_code, _headers = edit_trip_with_http_info(id, name, duration, locations, tags, opts)
      return data
    end

    # Update a trip by ID
    # 
    # @param id 
    # @param name 
    # @param duration 
    # @param locations 
    # @param tags 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :description 
    # @option opts [BOOLEAN] :boat_required 
    # @return [Array<(InlineResponse20047, Fixnum, Hash)>] InlineResponse20047 data, response status code and response headers
    def edit_trip_with_http_info(id, name, duration, locations, tags, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TripApi.edit_trip ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling TripApi.edit_trip" if id.nil?
      # verify the required parameter 'name' is set
      fail ArgumentError, "Missing the required parameter 'name' when calling TripApi.edit_trip" if name.nil?
      # verify the required parameter 'duration' is set
      fail ArgumentError, "Missing the required parameter 'duration' when calling TripApi.edit_trip" if duration.nil?
      # verify the required parameter 'locations' is set
      fail ArgumentError, "Missing the required parameter 'locations' when calling TripApi.edit_trip" if locations.nil?
      # verify the required parameter 'tags' is set
      fail ArgumentError, "Missing the required parameter 'tags' when calling TripApi.edit_trip" if tags.nil?
      # resource path
      local_var_path = "/trip/edit".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'id'] = id
      query_params[:'name'] = name
      query_params[:'duration'] = duration
      query_params[:'locations'] = @api_client.build_collection_param(locations, :multi)
      query_params[:'tags'] = @api_client.build_collection_param(tags, :multi)
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?
      query_params[:'boat_required'] = opts[:'boat_required'] if !opts[:'boat_required'].nil?

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse20047')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TripApi#edit_trip\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve all trips including any deleted models
    # 
    # @param [Hash] opts the optional parameters
    # @return [Array<Trip>]
    def get_all_trips(opts = {})
      data, _status_code, _headers = get_all_trips_with_http_info(opts)
      return data
    end

    # Retrieve all trips including any deleted models
    # 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Trip>, Fixnum, Hash)>] Array<Trip> data, response status code and response headers
    def get_all_trips_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TripApi.get_all_trips ..."
      end
      # resource path
      local_var_path = "/trip/all".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<Trip>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TripApi#get_all_trips\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve all trips including any deleted models
    # 
    # @param [Hash] opts the optional parameters
    # @return [Array<Trip>]
    def get_all_with_trashed_trips(opts = {})
      data, _status_code, _headers = get_all_with_trashed_trips_with_http_info(opts)
      return data
    end

    # Retrieve all trips including any deleted models
    # 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Trip>, Fixnum, Hash)>] Array<Trip> data, response status code and response headers
    def get_all_with_trashed_trips_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TripApi.get_all_with_trashed_trips ..."
      end
      # resource path
      local_var_path = "/trip/all-with-trashed".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<Trip>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TripApi#get_all_with_trashed_trips\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a trip by ID
    # 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Trip]
    def trip_get(id, opts = {})
      data, _status_code, _headers = trip_get_with_http_info(id, opts)
      return data
    end

    # Retrieve a trip by ID
    # 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Trip, Fixnum, Hash)>] Trip data, response status code and response headers
    def trip_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TripApi.trip_get ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling TripApi.trip_get" if id.nil?
      # resource path
      local_var_path = "/trip".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'id'] = id

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Trip')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TripApi#trip_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
